In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
df_mat = pd.read_csv('student-mat.csv', sep = ';')
df_mat.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

In [47]:
df_por = pd.read_csv('student-por.csv', sep = ';')
df_por.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        4   0  11  11
1     GP   F   17       U     GT3       T  ...     1       3        2   9  11  11
2     GP   F   15       U     LE3       T  ...     3       3        6  12  13  12
3     GP   F   15       U     GT3       T  ...     1       5        0  14  14  14
4     GP   F   16       U     GT3       T  ...     2       5        0  11  13  13

[5 rows x 33 columns]

In [49]:
df = pd.merge(df_mat, df_por, how = 'inner', on = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'nursery', 'internet'])
df

    school sex  age address famsize  ... health_y  absences_y  G1_y G2_y G3_y
0       GP   F   18       U     GT3  ...        3           4     0   11   11
1       GP   F   17       U     GT3  ...        3           2     9   11   11
2       GP   F   15       U     LE3  ...        3           6    12   13   12
3       GP   F   15       U     GT3  ...        5           0    14   14   14
4       GP   F   16       U     GT3  ...        5           0    11   13   13
..     ...  ..  ...     ...     ...  ...      ...         ...   ...  ...  ...
377     MS   F   18       U     LE3  ...        1           4    15   15   16
378     MS   F   18       U     GT3  ...        5           3     7    8    7
379     MS   F   18       U     GT3  ...        5           6    11   12    9
380     MS   M   17       U     LE3  ...        2           6    10   10   10
381     MS   M   18       R     LE3  ...        5           4    10   11   11

[382 rows x 53 columns]

In [51]:
df.rename(columns={
    'guardian_x': 'guardian_mat',
    'traveltime_x': 'traveltime_mat',
    'studytime_x': 'studytime_mat',
    'failures_x': 'failures_mat',
    'shcoolsup_x': 'schoolsup_mat',
    'famsup_x': 'famsup_mat',
    'paid_x': 'paid_mat',
    'activities_x': 'activities_mat',
    'higher_x': 'higher_mat',
    'romantic_x': 'romantic_mat',
    'famrel_x': 'famrel_mat',
    'freetime_x': 'freetime_mat',
    'gooyt_x': 'goout_mat',
    'Dalc_x': 'Dalc_mat',
    'Walc_x': 'Walc_mat',
    'health_x': 'health_mat',
    'absences_x': 'absences_mat',
    'G1_x': 'G1_mat',
    'G2_x': 'G2_mat',
    'G3_x': 'G3_mat'
})
df.head()

  school sex  age address famsize  ... health_y  absences_y  G1_y G2_y G3_y
0     GP   F   18       U     GT3  ...        3           4     0   11   11
1     GP   F   17       U     GT3  ...        3           2     9   11   11
2     GP   F   15       U     LE3  ...        3           6    12   13   12
3     GP   F   15       U     GT3  ...        5           0    14   14   14
4     GP   F   16       U     GT3  ...        5           0    11   13   13

[5 rows x 53 columns]